/*                    ABOUT PAGE                   */

h2{
    color:#ce8571;
}
h4{
    color: brown;
}

.excellent-service {
    background: url("/Assest/images/excellent-img.jpg") center no-repeat;
    background-size: cover;
    min-height: 65vh;
  }
  
  .excellent-service .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .headlines {
    padding-top: 5rem;
  }
  
  .sub-headline {
    font-size: 8.5rem;
    font-family: "Herr Von Muellerhoff", cursive;
    color: #790505d5;
    font-weight: 100;
    line-height: 0.4;
    letter-spacing: 2px;
    text-transform: capitalize;
  }
  
  .sub-headline::first-letter {
    text-transform: uppercase;
    font-size:8.5rem;
  }
  
  .features .row {
    justify-content: space-between;
  }
  
  .features {
    background-color: var(--main-color);
  }
  
  .features i {
    color: #ce8571;
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
  }
  
  .features h4 {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: 0;
  }
  
  .features p {
    font-family: var(--main-font-2);
  }
  
  .brands {
    padding: 5rem 0;
  }
  
  .brands .slider-box img {
    width: 20rem;
    margin-top: 2rem;
    border-radius: none;
    margin: 0 auto;
  }

  .copyright {
    background: rgb(165, 96, 5);
    font-size: 1.5rem;
    margin-top:20px;
    display: flex;
    justify-content: center;
}