/*                    ROOMS PAGE                   */

.rooms-list {
    color: var(--main-color);
    padding: 0;
    padding-bottom: 10rem;
  }
  
  .row-2 {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 8rem auto 5rem;
    flex-direction: row !important;
  }
  
  .rooms-list select {
    padding: 0.6rem;
    border: 0.1rem solid var(--main-color);
    outline: none;
    background: transparent;
    font-family: var(--main-font-1);
  }
  
  .rooms-list img,
  .our-menu img {
    width: 100%;
  }
  
  .rooms-list .col-2:not(:last-child) {
    margin-right: 4rem;
  }
  
  .room-info {
    text-align: center;
    padding: 1rem;
    background-color: var(--white-color);
  }
  
  .room-info div {
    max-width: 40rem;
    margin: 0 auto;
    padding: 1.5rem;
  }
  
  .room-info h4 {
    letter-spacing: 1px;
    line-height: 1.4;
  }
  
  .room-info p {
    line-height: 1.3;
    font-family: var(--main-font-2);
  }
  
  .room-info a {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 0.5rem;
  }
  
  .price {
    font-size: 2rem;
    margin: 1.5rem;
  }
  
  .price span {
    font-size: 3.5rem;
  }

  .copyright {
    background: rgb(165, 96, 5);
    color: white;
    font-size: 1.5rem;
    margin-top:20px;
    display: flex;
    justify-content: center;
}